@use "@styles/variables" as *;

.homepage_container {
  .title_sentence {
    font-family: "RobofanFree", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: $lightColor_One;
    max-width: 550px;
    letter-spacing: 3px;
    text-align: center;
  }
}
