@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "RobofanFree";
  src: url("../assets//fonts/Robofan_Free.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

$headerHeight: 65px;
$footerHeight: 30px;

$darkColor_One: #141414;
$darkColor_Two: #7d7d7d;
$darkColor_One_semi_transparant: #14141480;

$lightColor_One: #dedede;
$lightColor_Two: #c7c7c7;
$lightColor_Three: #f3f1f1;
$lightColor_Four: #a0a0a0;

$premiumColor: #b69c1a;
$errorColor: #aa2424;
$activeInput: #3c83ce;

$transparent: #00000000
